<a href=<%= recipe_path(recipe.id)%> class= "recipe-preview">
  <% if recipe.image_data%>
  <%= image_tag recipe.image_data%>
  <%p recipe.image_data%>
  <% end %>
  <div class="preview-info">
    <p class="preview-name"><%=recipe.name%></p>
    <p class="preview-description"><%=recipe.description%></p>
  </div>
</a>