
.full-recipe-view {
  margin-top: 40px;

  .admin-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 18px;

    button {
      width: 100px;
      padding: 10px;
      font-size: 18px;
      border: none;
      background-color: #71d6ca;
    }
  }
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .recipe-image {
    width: 85%;
    max-width: 600px;
  }

  .recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    max-width: 842px;
    padding: 51px;
    background: #ffce5c;
    line-height: 30px;

    .recipe-title {
      font-size: 23px;
    }
  }
}
